name: TrixieOS Live ISO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y grub-pc-bin grub-common xorriso wget tar

      - name: Download Alpine netboot
        run: |
          wget https://dl-cdn.alpinelinux.org/alpine/v3.23/releases/x86_64/alpine-netboot-3.23.2-x86_64.tar.gz

      - name: Extract netboot
        run: |
          mkdir netboot
          tar -xzf alpine-netboot-3.23.2-x86_64.tar.gz -C netboot

      - name: Prepare ISO tree
        run: |
          mkdir -p iso/boot/grub
          cp netboot/boot/vmlinuz-lts iso/boot/vmlinuz
          cp netboot/boot/initramfs-lts iso/boot/initrd

      - name: Create GRUB menu
        run: |
          echo 'set timeout=5' > iso/boot/grub/grub.cfg
          echo 'set default=0' >> iso/boot/grub/grub.cfg
          echo 'menuentry "TrixieOS Live (ProjectA tarafından yapıldı)" {' >> iso/boot/grub/grub.cfg
          echo '  linux /boot/vmlinuz alpine_dev=ramdisk quiet loglevel=0' >> iso/boot/grub/grub.cfg
          echo '  initrd /boot/initrd' >> iso/boot/grub/grub.cfg
          echo '}' >> iso/boot/grub/grub.cfg

      - name: Build Live ISO
        run: |
          grub-mkrescue -o TrixieOS-Live.iso iso

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: TrixieOS-Live-ISO
          path: TrixieOS-Live.iso
